<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Pegion Messenger | Join</title>
</head>

<body class="bg-dark">
    <div class="join-container bg-primary p-5 rounded mx-auto my-5">
        <header class="join-header mb-4">
            <h1 class="fw-bold"><i class="fa-solid fa-dove"></i> PIGEON</h1>
            <p>Made with &#10084;&#65039; by <a href="https://github.com/noobchirag69" target="_blank">Chirag
                    Chakraborty</a></p>
        </header>
        <hr class="mb-4">
        <main class="join-main">
            <form action="chat.html">
                <div>
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username"
                        placeholder="Enter your name..." required />
                </div>
                <div>
                    <label for="room">Room</label>
                    <select class="form-select" name="room" id="room">
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="PHP">PHP</option>
                        <option value="C#">C#</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Join Chat</button>
            </form>
        </main>
    </div>
</body>

</html>